.scroll-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  width: fit-content;
  height: fit-content;
  transform: translateY(0.5vw);
}

.scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vw;
}

.scroll-text {
  color: #fff;
  text-align: center;
  font-family: "Trip Sans";
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

.icon.arrowDown {
  width: 2.575vw;
  height: auto;
  fill: #fff;
  box-sizing: border-box;
}

@media (max-width: 767.98px) {
  .scroll-wrapper {
    transform: translateY(1vw);
  }

  .scroll-container {
    gap: 1.5vw;
  }

  .scroll-text {
    font-size: 2.5vw;
  }

  .icon.arrowDown {
    width: 6.5vw;
  }
}
