.counter {
  position: relative;
  height: 100%;
  width: 4.25vw;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: start;

  .numbers {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 1.25vw;
    transition: transform 0.8s;

    .number {
      height: 6.25vw;
      display: flex;
      justify-content: start;
      align-items: center;
      color: #fff;

      text-overflow: ellipsis;
      font-family: "Trip Sans";
      font-size: 6.9vw;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.08rem;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 2150px) {
  /* Styles pour Desktop (Full HD) */
  .counter {
    .numbers {
      .number {
        height: 6.25vw;
        font-size: 6.9vw;
      }
    }
  }
}
