.page-counter {
  display: flex;
  align-items: start;
  justify-content: start;
  height: 100%;

  .number {
    display: flex;
    align-items: center;
    height: 6.25rem;
    width: 100%;
    gap: 0.12rem;
    .zero {
      overflow: hidden;
      color: #fff;

      text-overflow: ellipsis;
      font-family: "Trip Sans";
      font-size: 8rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.08rem;
      text-transform: uppercase;
    }
  }
}
