.socialnetwork {
  pointer-events: all;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.1vw;

  .icon {
    width: 2.25vw;
    height: auto;
    fill: white;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.08);
      opacity: 0.7;
    }
  }
}

@media (max-width: 2150px) {
  /* Styles pour Desktop (Full HD) */
  .socialnetwork {
    gap: 1.5vw;
    .icon {
      width: 2.5vw;
    }
  }
}

@media (max-width: 767.98px) {
  .socialnetwork {
    gap: 1.5vw;
    .icon {
      width: 5.5vw;
    }
  }
}

@media (max-width: 1024px) {
  .socialnetwork {
    gap: 1.5vw;
    .icon {
      width: 4.5vw;
    }
  }
}
