header {
  display: flex;
  padding: 0.9vw 1.75vw;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  .icon.logo {
    fill: white;
    width: 3.8125rem;
    height: auto;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 4.375rem;

    .navbar {
      display: flex;
      align-items: center;
      gap: 3rem;

      .nav-item {
        pointer-events: all;

        color: white;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;

        &.active {
          text-decoration: underline;
        }

        &:hover {
          filter: opacity(0.8);
        }
      }
    }
  }

  .download {
    pointer-events: all;

    .icon.download {
      fill: white;
      width: 2.75rem;
      height: 2.75rem;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.04);
      opacity: 0.6;
    }
  }
}

@media (max-width: 2150px) {
  /* Styles pour Desktop (Full HD) */
  header {
    padding: 1.5vw;

    .icon.logo {
      width: 3.8125vw;
    }

    .menu {
      gap: 3.5vw;

      .navbar {
        gap: 2.5vw;

        .nav-item {
          font-size: 1.2vw;
        }
      }
    }

    .download {
      .icon.download {
        width: 2.5vw;
      }
    }
  }
}

@media (max-width: 767.98px) {
  header {
    padding: 2.5vw;

    .icon.logo {
      width: 10.8125vw;
    }

    .menu {
      gap: 5vw;

      .navbar {
        gap: 4.5vw;

        .nav-item {
          font-size: 2.8vw;
        }
      }
    }

    .download {
      .icon.download {
        width: 6.5vw;
      }
    }
  }
}
