.scroll-container {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  align-items: center;
  background-color: red;
}

.scroll-text {
  width: max-content;
  color: #fff;
  font-family: "Trip Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.icon.arrowDown {
  fill: #fff;
  transform: rotate(-90deg);
}
