body {
  font-family: "Trip Sans";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

#root {
  width: 100%;

  .fp-watermark {
    display: none;
  }
}

#fullpage {
  .section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .fp-slides {
      width: 100%;
    }
  }
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

/* Masquer les flèches dans la section Gallery */
.fp-controlArrow {
  display: none !important;
}
