body {
  font-family: "Trip Sans";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

#root {
  width: 100%;

  .fp-watermark {
    display: none;
  }
}

#fullpage {
  .section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .fp-slides {
      width: 100%;
    }
  }
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

/* Masquer les flèches dans la section Gallery */
.fp-controlArrow {
  display: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-letter {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.35s forwards;
}

.animated-title .animated-letter {
  animation-delay: calc(var(--animation-order) * 0.08s);
}
