.contact-info {
  transform: translateY(-1rem);
  width: 100%;
  max-width: 24.3rem;
  margin: 0 auto;
  border-radius: 10px;
  text-align: start;

  color: #fff;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      margin-bottom: 1.6rem;
      font-size: 2rem;
      font-weight: bold;
      text-overflow: ellipsis;
      font-family: "Trip Sans";
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.08rem;
      text-transform: uppercase;
    }
    .icon:hover {
      transform: scale(1.05);
      opacity: 0.8;
    }
  }

  hr {
    border: 0;
    height: 0.15rem;
    background: #d0d0d0;
    margin: 10px 0 20px;
    margin-bottom: 2rem;
  }

  ul {
    list-style: none;
    padding: 0 0 0 1.5rem;

    li {
      display: flex;
      align-items: center;
      justify-content: start;
      margin-bottom: 10px;
      gap: 1rem;

      .icon {
        font-size: 1.2rem;
        font-weight: 500;
      }

      a,
      span {
        color: #d0d0d0;
        text-decoration: none;
        font-family: "Trip Sans";
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.075rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
