.contact-info {
  width: 100%;
  text-align: start;
  transform: translateY(-0.8vw);

  color: #fff;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    h2 {
      font-size: 1.8vw;
      font-weight: bold;
      text-overflow: ellipsis;
      font-family: "Trip Sans";
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.08rem;
      text-transform: uppercase;
    }
    a {
      width: fit-content;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon:hover {
        transform: scale(1.05);
        opacity: 0.8;
      }
    }
  }

  hr {
    border: 0;
    height: 0.1vw;
    background: #d0d0d0;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
  }

  ul {
    list-style: none;
    padding: 0 0 0 1.45vw;

    li {
      display: flex;
      align-items: center;
      justify-content: start;
      margin-bottom: 0.85vw;
      gap: 0.95vw;

      .icon {
        width: 1.75vw;
        height: 1.75vw;
      }
      a,
      span {
        color: #d0d0d0;
        text-decoration: none;
        font-family: "Trip Sans";
        font-size: 1vw;
        font-weight: 500;
        letter-spacing: 0.075rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .contact-info {
    transform: translateY(0);
    .header {
      h2 {
        font-size: 4.5vw;
      }
      a {
        .icon {
          width: 5vw;
          height: 5vw;
        }
      }
    }
    hr {
      margin-top: 2vw;
      margin-bottom: 2.5vw;
    }

    ul {
      li {
        margin-bottom: 2.85vw;
        gap: 2.5vw;
        .icon {
          width: 5.5vw;
          height: 5.5vw;
        }
        a,
        span {
          font-size: 4.5vw;
        }
      }
    }
  }
}
